<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Page Index</title>
</head>
<body>
    <header>
        <h1>Quel personnage de Zelda es-tu ?</h1>
    </header>

    <main>
        <img src="/Activitée 2/static/zelda.jpeg">
        <a href="/question">C'est parti !</a>
    </main>

    <footer class="bg-amber-300 text-center text-white text-3xl font-bold p-4">
        <p>Copyright @ Nintendo</p>
    </footer>
    
</body>
</html>
