<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Quizz Zelda </title>
</head>
<body>
    <header class="bg-amber-300 text-center text-white text-3xl font-bold p-4">
        <h1>Quel personnage de Zelda es-tu ?</h1>
    </header>

    <main class="text-center p-6" >
        <h1 class = "text-center font-mono text-3xl"> Bravo tu es donc {{vainqueur}}</h1>
        <div class="flex justify-center p-6 text-xl">
            <img src="/static/{{vainqueur}}.jpg">
        </div>
        <h1 class="text-center font-mono text-2xl">{{description}}</h1>
        <br>
        <a class="bg-amber-200 hover:bg-amber-300 p-3 rounded-lg border border-black-300" href="/question">On recommence ?</a>

    </main>

    <footer class="fixed bottom-0 w-full bg-amber-300 text-center text-white text-3xl font-bold p-4 ">
        <p>Copyright © Nintendo</p>
    </footer>
</body>
</html>